.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-embed-youtubevideo {
  width: 100%;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-position: 50%;
  background-size: cover;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.body {
  font-family: Chakra Petch, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5em;
}

.heading {
  color: #fff;
  text-align: left;
  padding-top: 100px;
  font-size: 75px;
  font-style: normal;
  line-height: 1em;
}

.section {
  height: 500px;
  color: #fff;
  background-image: linear-gradient(to top, #000, rgba(255, 255, 255, 0)), url('../images/purplecosmos.jpeg');
  background-position: 0 0, 0 0;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
}

.text-block {
  color: rgba(255, 255, 255, .47);
  text-align: left;
  font-size: 25px;
}

.grid-section {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #000;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-top: 50px;
  padding-left: 5%;
  padding-right: 5%;
  display: grid;
}

.paragraph {
  color: #63e948;
  text-align: justify;
  background-color: rgba(0, 0, 0, 0);
  border: 10px rgba(104, 104, 104, .19);
  border-radius: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.heading-2 {
  color: #fff;
}

.heading-arti {
  color: #fafafa;
}

.youtube1 {
  background-color: #000;
  border: 10px rgba(246, 0, 0, .44);
  border-radius: 0;
  padding-top: 0;
  position: static;
}

.youtube-2 {
  height: auto;
  max-width: 100%;
  object-fit: fill;
  border: 1px #000;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
}

.youtubecontain {
  height: 628px;
}

.image {
  max-width: 85%;
  outline-offset: 2px;
  text-align: left;
  border: 0 #63e948;
  border-radius: 20px;
  outline: 3px rgba(91, 228, 64, .34);
}

.section-2 {
  background-image: linear-gradient(#000, rgba(31, 31, 31, .88) 67%, rgba(255, 255, 255, 0)), url('../images/purplecosmos.jpeg');
  background-position: 0 0, 0 0;
  background-size: auto, auto;
}

.paragraph-2 {
  color: rgba(247, 247, 247, .51);
  text-align: center;
  font-size: 12px;
}

@media screen and (max-width: 991px) {
  .heading {
    font-size: 55px;
  }

  .paragraph {
    font-size: 18px;
  }

  .image {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .heading {
    font-size: 50px;
  }

  .grid-section {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    padding-top: 0;
    padding-left: 4px;
    padding-right: 4px;
  }

  .paragraph {
    font-size: 16px;
  }

  .youtube-2 {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .youtubecontain {
    height: auto;
  }
}

@media screen and (max-width: 479px) {
  .paragraph {
    font-size: 14px;
  }

  .heading-arti {
    font-size: 26px;
  }
}

#w-node-_7fe61c2e-2200-57b8-df4a-4f82d2c8b40c-74f96428 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_35f2eb90-cfda-d1fc-4026-d18961be504b-74f96428 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
}

#w-node-_74c7da00-963e-7666-0558-caf364215d9f-74f96428 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_4589f3e6-1559-764f-ea5b-346a3668d608-74f96428 {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-_22ae8739-2573-7ec2-d4bf-426cbff2df77-74f96428 {
  grid-area: 1 / 2 / 2 / 3;
  align-self: center;
  justify-self: center;
}

#w-node-_0ce0f72b-c3a7-ae06-d39b-6fd4cd267d5f-74f96428 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
}

#w-node-c0055d20-7c1f-8489-2c8b-2f3955c0a2bf-74f96428 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-c0055d20-7c1f-8489-2c8b-2f3955c0a2c1-74f96428 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-f7ba45cf-1a40-bb8d-23ef-9bfa7dd05cb2-74f96428 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: center;
}

#w-node-_0d39fab6-f24f-da7a-3fc1-cc0f54041406-74f96428 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
}

#w-node-edac7015-bf88-d2df-0c11-200526464870-74f96428 {
  align-self: center;
  justify-self: center;
}

#w-node-e6a6291e-7f5f-e707-2e85-32bba1ae7ded-74f96428 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
}

#w-node-_1d63b4be-b9ad-57af-4959-181a192bcbe0-74f96428 {
  align-self: center;
  justify-self: center;
}

#w-node-_9c1cdb4a-5fed-49fe-b190-53d44e9d6b6d-74f96428 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
}

#w-node-_97c20401-83da-ad88-f791-7c79378215a9-74f96428 {
  align-self: center;
  justify-self: center;
}

#w-node-_4ac91474-c8e3-93f6-a1b0-67ee417f197e-74f96428 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
}

#w-node-c738120b-086f-137b-9687-dbbc8d4df08f-74f96428 {
  align-self: center;
  justify-self: center;
}

@media screen and (max-width: 991px) {
  #w-node-_22ae8739-2573-7ec2-d4bf-426cbff2df77-74f96428, #w-node-f7ba45cf-1a40-bb8d-23ef-9bfa7dd05cb2-74f96428, #w-node-edac7015-bf88-d2df-0c11-200526464870-74f96428, #w-node-_1d63b4be-b9ad-57af-4959-181a192bcbe0-74f96428 {
    align-self: center;
  }

  #w-node-_97c20401-83da-ad88-f791-7c79378215a9-74f96428, #w-node-c738120b-086f-137b-9687-dbbc8d4df08f-74f96428 {
    align-self: center;
    justify-self: center;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_22ae8739-2573-7ec2-d4bf-426cbff2df77-74f96428, #w-node-f7ba45cf-1a40-bb8d-23ef-9bfa7dd05cb2-74f96428 {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-edac7015-bf88-d2df-0c11-200526464870-74f96428 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    align-self: center;
    justify-self: center;
  }

  #w-node-_1d63b4be-b9ad-57af-4959-181a192bcbe0-74f96428 {
    align-self: center;
  }

  #w-node-_97c20401-83da-ad88-f791-7c79378215a9-74f96428 {
    align-self: center;
    justify-self: center;
  }

  #w-node-c738120b-086f-137b-9687-dbbc8d4df08f-74f96428 {
    align-self: center;
  }
}


